<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club house</title>
  </head>
  <body>
    <h1>Welcome to the club house</h1>

    <% if (currentUser) { %>
    <h1>test</h1>
    <% } %>

    <a href="/sign-up">Sign up here</a>
    <a href="/session/log-out">Log out</a>

    <form method="post" action="/session/log-in">
      <label for="username">Email</label>
      <input type="email" name="username" id="username" required />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Log in</button>
    </form>
  </body>
</html>
