<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Club house</title>

  <!-- Style -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />

</head>

<body>
  <h1>Welcome to the club house</h1>

  <% if (currentUser) { %>
  <h1>You are logged in.</h1>

  <% if (currentUser.isMember) { %>
  <h2>You are a member.</h1>
  <% } else { %>
  <h2>You are not yet a member.</h1>
  <h3>Only members can post messages.</h2>
  <% } %>
  <% } else { %>
  <h2>You are not logged in.</h1>
  <a href="/sign-up">Sign up here</a>
  <% } %>

  <% if (currentUser) { %>
  <a href="/session/log-out">Log out</a>
  <% if (currentUser.isMember) { %>
    <a href="/message/write">Write a message</a>
  <% } %>
  <% } else { %>
  <form class="sign-up-form" method="post" action="/session/log-in">
    <label for="username">Email</label>
    <input type="email" name="username" id="username" required />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
    <button type="submit">Log in</button>
  </form>
  <% } %>

  <% if (typeof currentUser !=='undefined' && !currentUser.isMember) { %>
  <a href="/become-a-member">Become a full-fledged member</a>
  <% } %>

  <div class="messages">
    <% for (const message of messages) { %>
    <div class="message">

      <h2 class="message-title"><%= message.title %></h2>
      <h3 class="message-date"><%= moment(message.date).format('dddd, MMMM Do YYYY, hh:mm') %></h3>
      <% if (currentUser) { %>
      <h4><%= message.author %> wrote</h4>
      <h5 class="message-content"><%= message.content %></h4>
      <% } %>
    </div>
    <% } %>
  </div>
</body>

</html>